{{template "header_admin.html" .}}

<h1>Crear Nuevo Usuario</h1>
<form action="/usuario/crear" method="POST">
    <label for="correo">Correo:</label>
    <input type="email" name="correo" id="correo" required><br>

    <label for="nombre">Nombre:</label>
    <input type="text" name="nombre" id="nombre" required><br>

    <label for="clave_segura">Contraseña:</label>
    <input type="password" name="clave_segura" id="clave_segura" required><br>

    <label for="rol">Rol:</label>
    <select name="rol" id="rol" required>
        <option value="admin">admin</option>
        <option value="cliente">cliente</option>
    </select><br>

    <button type="submit">Crear Usuario</button>
</form>

<br>
<a href="/usuarios">Volver a la lista de usuarios</a>

{{template "footer.html" .}}
