{{define "header_cliente"}}
<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon" href="/static/favicon.ico">
    <title>cliente - Mi Ecommerce</title>
    <link rel="stylesheet" href="/static/css/styles.css">
</head>

<body>
    <header>
        <div class="container">
            <div class="logo">
                <h1>Mi Ecommerce</h1>
            </div>
            <nav>
                <a href="/">Inicio</a>
                <a href="/productos">Productos</a>
                <a href="/categorias">Categorías</a>
                <a href="/login">Iniciar sesión</a>
                <a href="/registrarse">Registrarse</a>
                <a href="/cerrar-sesion">Cerrar sesión</a>
            </nav>
        </div>
    </header>
    {{end}}