<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Editar Categoría</title>
</head>
<body>
    <h1>Editar Categoría</h1>
    <form action="/admin/categoria/editar?id={{.ID}}" method="POST">
        <label for="nombre">Nombre:</label>
        <input type="text" name="nombre" id="nombre" value="{{.Nombre}}" required><br>

        <label for="descripcion">Descripción:</label>
        <textarea name="descripcion" id="descripcion" required>{{.Descripcion}}</textarea><br>

        <button type="submit">Actualizar Categoría</button>
    </form>

    <br>
    <a href="/admin/categorias">Volver a la lista de categorías</a>
</body>
</html>
