{{define "index"}}
{{template "header_cliente" .}}

   <main class="container mt-5 flex-grow-1">
    <h2>Lo más reciente</h2>
    <p>Aquí podrías mostrar algunos productos destacados o recomendaciones de productos para tus usuarios.</p>

    <div class="row">
        {{range .Productos}}
        <div class="col-md-4 mb-4">
            <div class="card">
                <img src="{{.ImagenPrincipal}}" class="card-img-top" alt="Producto">
                <div class="card-body">
                    <h5 class="card-title">{{.Nombre}}</h5>
                    <p class="card-text">Precio: {{.Precio}} USD</p>
                    <p class="card-text">{{.Descripcion}}</p>
                    <a href="/producto?id={{.ID}}" class="btn btn-primary">Ver detalles</a>
                </div>
            </div>
        </div>
        {{else}}
        <p>No hay productos disponibles.</p>
        {{end}}
    </div>
</main>

{{template "footer"}}
{{end}}
